# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Model files
# *.pkl   ← इसे comment या delete कर दो

!models/df.pkl
!models/indices.pkl
!models/tfidf.pkl
!models/tfidf_matrix.pkl

*.db
users.db

